<div class="treatments" style="margin-top: 100px; margin-left: 40px;">
  <% @treatments.each do |treatment| %>
    <h3><%= treatment.name %></h3>
    <p><%= treatment.description %></p>
    <p>Price: <%= humanized_money_with_symbol(treatment.price) %></p>

  <% end %>
</div>
