#session_type { 
	width: 80vw;
}
.ui-datepicker-inline {

}
.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
	width: 80vw;
}
.date-pick {
	display: flex;
	justify-content: center;
}
.hc_footer {
	display: none !important;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	background: white;
}
.healcode-title-text {
	color: #7B7C81;
}
.ui-datepicker-month {
	color: #7B7C81;
}
.ui-datepicker-year {
	color: #7B7C81;
}
.ui-datepicker-week-end span {
	color: #FDA993;
}
.ui-datepicker th span {
	color: #FDA993;
}
.hc_footer {
	display: none;
}
.hc-button.signup_now.appointment {
	width: 10vw;
}
.ui-datepicker-prev span {
	background-position: -97px -2px !important;
}
.ui-datepicker-next span {
	background-position: -35px -2px !important;
}
