.faq-sub-text {
	margin-top: 24px;
	margin-bottom: 50px;
	h3 {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	p {
		font-size: 16px;
		letter-spacing: 1px;
		color: #7B7C81;
		padding: 20px 200px;
	}
	strong {
		font-size: 18px;
	}
}