.faq-sub-text {
    z-index: 20;
	h3 {
		margin-top: 64px;
    	margin-bottom: 32px;
	}
	h4 {
		background-color: #FDA993;
    	margin-bottom: 12px;
    	color: white;
    	padding: 20px 60px;
	}
	p {
		font-size: 15px;
		letter-spacing: 1px;
		color: #7B7C81;
		padding: 20px 23px;
	}
}
.faq-page-content {
	border-top: 5px solid #FDA993;
	background-color: white;
	width: 100%;
	position: relative;
	margin-top: 75px;
}
.faq-items {
	display: flex;
	justify-content: space-between;
}
.faq-image img {
	width: 608px;
    position: absolute;
    right: 0;
    margin-top: 0;
}
.arrow {
	width: 30px;
    position: absolute;
    right: 20px;
    top: 18px;
}
.question {
	position: relative;
	left: 20px;	
	width: 720px;
}
.answer {
	width: 720px;
	padding: 10px 40px;
}
@media only screen and (max-width:992px) {
	.question {
		left: 0px;	
		width: 100%;
	}
	.answer {
		width: 100%;
	}
	.faq-image img {
		display: none;
	}
	.faq-items {
		justify-content: center;
	}
	.faq-sub-text { 
		width: 100%;
		padding: 0 10px;
	}
}
