.homepage a {
	text-decoration: none;
}
.main-logo {
	width: 570px;
	position: absolute;
	top: 23vh;
  	left: 6vw;
}
.landing-sub-text {
	text-decoration: none;
	margin-top: 10px;
	p {
		font-size: 17px;
		letter-spacing: 3px;
		color: #7B7C81;
		font-weight: lighter;
	}
}
.landing-sub-text p {
	padding: 0 10px;
	a:hover {
		text-decoration: none;
	}
}
.fa-arrow-down {
	color: #BFD2E4;
	border: 2px solid #BFD2E4;
	border-radius: 50%;
	padding: 5px
}
.fa-arrow-down:hover {
	font-size: 18px;
}
.page-content {
	border-top: 5px solid #FDA993;
	background-color: white;
	width: 100%;
	z-index: 100 !important;
	position: relative;
	margin-top: 80vh;
	padding-top: 28px;
}
.landing-page-content {
	border-top: 5px solid #BFD2E4;
	background-color: white;
	width: 100%;
	z-index: 100 !important;
	position: relative;
	margin-top: calc(100vh - 130px);
	padding-top: 10px;
}
.intro-text {
	padding: 40px 200px;
	p {
		font-size: 20px;
		color: #7B7C81;
	}
}
.landing-boxes {
	display: flex;
	justify-content: center;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
}
.landing-boxes-about {
	display: flex;
	justify-content: center;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
}
.landing-treatments-box	{
  position: relative;
	background-color: #F2F2F2;
	width: 355px;
  height: 350px;
	padding: 30px 30px;
	margin-right: 7px;
  overflow: visible;
	h3 {
		font-size: 26px;
		letter-spacing: 1px;
	}
	p {
		padding-top: 15px;
		color: #7B7C81;
		font-size: 16px;
	}
	a {
		color: #7B7C81;
		text-decoration:none;
	}
	a:hover {
		color: #FDA993;
		text-decoration:none;
	}
}
.landing-treatments-image {
  position: relative;
	align-items: center;
	margin-left: 7px;
	height: 350px;
	width: 630px;
	overflow: visible;
	#treatments-image {
		width: 100%;
    height:100%;
		background-position: center;
	}
}
.landing-about-box	{
  position: relative;
	background-color: #F2F2F2;
	width: 355px;
  height: 350px;
  overflow: visible;
	padding: 30px 30px;
	margin-left: 7px;
	h3 {
		font-size: 26px;
		letter-spacing: 1px;
	}
	p {
		padding-top: 15px;
		color: #7B7C81;
		font-size: 16px;
	}
	a {
		color: #7B7C81;
		text-decoration:none;
	}
	a:hover {
		color: #FDA993;
		text-decoration:none;
	}
}
.landing-about-image {
  position: relative;
	height: 350px;
	width: 630px;
	margin-right: 7px;
	overflow: visible;
	// img {
	// 	width: 630px;
	// 	background-position: center;
	// }
}
.spacer-text h3 {
	font-size: 26px;
	letter-spacing: 1px;
	margin: 70px 0;
}
.landing-book-box {
	img {
		width: 492.5px;
		margin-right: 7px;
	}
	p {
		position: absolute;
		bottom: 10px;
		left: 20px;
		font-size: 22px;
		color: white;
		z-index: 2000;
	}
}
.landing-book-box:hover {
	.triangle-pink-box {
		border-left: 270px solid rgba(253,169,147, 1);
	}
}
.landing-shop-box {
	margin-left: 7px;
	#coming-soon {
		color: #7B7C81;
		left: 170px;
		bottom: 100px;
		letter-spacing: 1px;
	}
	img {
		width: 492.5px;
	}
	p {
		position: absolute;
		bottom: 10px;
		left: 28px;
		font-size: 22px;
		color: white;
		z-index: 2000;
	}
}
.triangle-pink-box {
	position: absolute;
    bottom: 1px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 270px solid rgba(253,169,147,0.8);
    border-right: 5px solid transparent;
    border-top: 170px solid transparent;
}
.triple-box {
	margin-top: 14px;
}
.landing-press-image {
	#press-contact {
		display: none;
	}
	img {
		width: 324px;
	}
	p {
		position: absolute;
		bottom: 46px;
		left: 103px;
		font-size: 20px;
		color: white;
		border: 3px solid white;
		padding: 10px;
	}
}
.landing-press-image:hover {
	#press-contact {
		display: block;
		left: 80px;
	}
	#press-box {
		display: none;
	}
	p {
		background-color: #7B7C81;
	}
}

.landing-contact-image {
	img {
		width: 324px;
		margin-left: 14px;
		margin-right: 14px;
	}
	p {
		position: absolute;
		bottom: 46px;
		left: 103px;
		font-size: 20px;
		color: white;
		border: 3px solid white;
		padding: 10px;
	}
}
.landing-contact-image:hover {
	p {
		background-color: #7B7C81;
	}
}
.landing-faq-image {
	position: relative;
	img {
		width: 324px;
	}
	p {
		position: absolute;
		bottom: 46px;
		left: 124px;
		font-size: 20px;
		color: white;
		border: 3px solid white;
		padding: 10px;
	}
}
.landing-faq-image:hover {
	p {
		background-color: #7B7C81;
	}
}
@media only screen and (min-width: 1800px) {
	.main-logo {
	    top: 23vh;
	    left: 11vw;
	}
}
@media only screen and (max-width:1202px) {
	.intro-text {
		padding: 40px 100px;
	}
	.landing-strips {
		display: none;
	}
	.main-logo {
	    left: 10vw;
	}
}
@media only screen and (max-width:1005px) {
	.landing-boxes {
		flex-direction: column-reverse;
	}
	.landing-treatments-box {
		width: 80%;
		height: 315px;
		margin-right: 0;
		p {
			padding-left: 40px;
			padding-bottom: 0;
		}
	}
	.landing-treatments-image {
		margin-left: 0;
		width: 80%;
		img {
			height: auto;
			width: 100%;
			margin-left: 0;
		}
	}
	.landing-about-box	{
		width: 80%;
	    height: 315px;
		margin-left: 0;
		p {
			padding-left: 40px;
			padding-bottom: 0;
		}
	}
	.landing-about-image {
		width: 80%;
		margin-right: 0;
		img {
			height: auto;
			width: 100%;
		}
	}
	.landing-book-box img {
		width: 600px;
		margin-top: 10px;
		margin-right: 0;
	}
	.landing-shop-box {
		margin-left: 0;
		#coming-soon {
			left: 210px;
    		bottom: 129px;
	}
		img {
			width: 600px;
		}
	}
	.landing-faq-image {
		img {
			width: 100%;
		}
		p {
		    bottom: 115px;
		    left: 250px;
	    	font-size: 30px;
	   		border: 5px solid white;
		}
	}
	.landing-contact-image {
		img {
			width: 100%;
			margin: 0;
		}
		p {
		    bottom: 115px;
		    left: 220px;
	    	font-size: 30px;
	   		border: 5px solid white;
		}
	}
	.landing-press-image {
		display: none;
	}
}
@media only screen and (max-width:746px) {
	.intro-text {
	    padding: 40px 10px;
	}
	.landing-treatments-box {
		width: 100%;
		height: auto;
		margin-right: 0;
		align-items: center;
		padding: 20px 10px;
		p {
			padding-left: 20px;
			padding-bottom: 0;
		}
	}
	.landing-treatments-image {
		margin-left: 0;
		width: 100%;
		height: auto;
		img {
			height: auto;
			width: 100%;
			margin-left: 0;
		}
	}
	.landing-about-box	{
		width: 100%;
	    height: auto;
		margin-left: 0;
		padding: 20px 10px;
		p {
			padding-left: 20px;
			padding-bottom: 0;
		}
	}
	.landing-about-image {
		width: 100%;
		height: auto;
		margin-right: 0;
		img {
			height: auto;
			width: 100%;
		}
	}
	.landing-book-box img {
		width: 100%;
		margin-top: 10px;
		margin-right: 0;
	}
	.landing-shop-box {
		margin-left: 0;
		#coming-soon {
			left: 210px;
    		bottom: 129px;
	}
		img {
			width: 100%;
		}
	}
	.landing-faq-image {
		width: 100%;
		p {
			bottom: 64px;
    		left: 142px;
		}
	}
	.landing-contact-image {
		width: 100%;
		p {
			bottom: 64px;
    		left: 107px;
		}
	}
}

@media only screen and (max-width:651px) {
	.landing-logo {
		width: 96vw;
		left: 5px;
	}
	.footer-logo {
    	width: 290px;
	}
}

//iphone 5
@media only screen and (max-width:550px) {
	.page-content {
		margin-top: 74vh;
	}
	.navbar-the-peel-boutique-main-brand img {
	    left: 24px;
	}
	.landing-shop-box #coming-soon {
	    left: 210px;
	    bottom: 66px;
	}
	.landing-faq-image p {
	    bottom: 41px;
	    left: 114px;
	}
	.landing-contact-image p {
	    bottom: 39px;
	    left: 82px;
	}
	.landing-page-content {
    	margin-top: 75vh;
	}
}

@media only screen and (max-width: 667px) and (min-width: 568px) {
	.landing-page-content {
		margin-top: 73vh;
	}
	.landing-sub-text p {
    	font-size: 11px;
    }
    .spacer-text h3 {
	    padding: 0 10px;
	}
}
