.landing-sub-text {
	margin-top: 20px;
	h3 {
		font-size: 26px;
		letter-spacing: 1px;
	}
}
.main-logo {
	width: 480px;
	position: absolute;
	top: 23vh;
  	left: 10vw;
}
.page-content {
	background-color: white;
	width: 100%;
	z-index: 100 !important;
	position: relative;
	margin-top: 80vh;
	padding-top: 30px;
}
.intro-text {
	padding: 40px 200px;
	p {
		font-size: 20px;
		color: #7B7C81;
	}
}
.landing-boxes {
	display: flex;
	justify-content: center;
}
.landing-treatments-box	{
	background-color: #F2F2F2;
	width: 355px;
    height: 350px;
	padding: 30px 30px;
	margin-right: 7px;
	h3 {
		font-size: 26px;
		letter-spacing: 1px;
	}
	p {
		padding-top: 15px;
		color: #7B7C81;
		font-size: 16px;
	}
}
.landing-treatments-image img {
	height: 350px;
	width: 630px;
	margin-left: 7px;
}
.landing-about-box	{
	background-color: #F2F2F2;
	width: 355px;
    height: 350px;
	padding: 30px 30px;
	margin-left: 7px;
	h3 {
		font-size: 26px;
		letter-spacing: 1px;
	}
	p {
		padding-top: 15px;
		color: #7B7C81;
		font-size: 16px;
	}
}
.landing-about-image img {
	height: 350px;
	width: 630px;
	margin-right: 7px;
}
.spacer-text h3 {
	font-size: 26px;
	letter-spacing: 1px;
	margin: 70px 0;
}
.landing-book-image {
	position: relative;
	img {
		width: 492.5px;
		margin-right: 7px;
	}
	p {
		position: absolute;
		bottom: 25px;
		left: 50px;
		font-size: 22px;
		color: white;
	}
}
.landing-shop-image {
	position: relative;
	img {
		width: 492.5px;
		margin-left: 7px;
	}
	p {
		position: absolute;
		bottom: 25px;
		left: 50px;
		font-size: 22px;
		color: white;
	}
}
.instagram-images img {
	width: 100%;
}