// .instagram-section {
// 	position: relative;
// 	h4 {
// 		position: absolute;
//     left: 50%;
//     -webkit-transform: translateX(-50%);
//     transform: translateX(-50%);
//   	top: 103px;
//     color: white;
//     letter-spacing: 1px;
// 	}
// }
// .instagram-section:hover {
// 	h4 {
// 		color: #7B7C81;
// 	}
// }
// .instagram-image img {
// 	width: 100%;
// }
// @media only screen and (max-width:1140px) {
// 	.instagram-section {
// 		h4 {
// 	    	top: 90px;
// 	    	left: 42%;
// 		}
// 	}
// }
// @media only screen and (max-width:1070px) {
// 	.instagram-section {
// 		h4 {
// 	    	left: 41.5%;
// 		}
// 	}
// }

.instagram-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.insta-img {
  position: relative;
  img{
    margin: 5px;
    width: 240px;
    height: 240px;
  }
}
.insta-box {
  background: rgba(0, 0, 26, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 95%;
  margin: 5px;
  display: none;
  z-index: 0;
}
.insta {
  position: absolute;
  top: 110px;
  left: 45px;
  display: none;
  z-index: 100;
  p {
    color: white;
    background-color: #FDA892;
    padding: 6px;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-decoration: none;
  }
}

.insta-img:hover {
  .insta-box {
    display: block;
  }
  .insta {
    display: block;
  }
}
