.landing-strip {
	width: 100px;
	height: 100px;
}
.landing-strip-left {
    position: absolute;
    bottom: -29px;
    left: 106px;
}
.landing-strip-right {
    position: absolute;
    top: -27px;
    right: 110px;
}
.landing-strip-left-2 {
	width: 100px;
    height: 100px;
    position: absolute;
    bottom: -29px;
    left: 106px;
}
.landing-strip-right-2 {
	width: 100px;
    height: 100px;
    position: absolute;
    top: -27px;
    right: 110px;
}