.treatment-sub-text {
	margin: 24px 150px 70px 150px;
	h3 {
		margin-top: 30px;
   		margin-bottom: 30px;
		color: #7B7C81;
		letter-spacing: 2px;
	}
	p {
		font-size: 16px;
		letter-spacing: 1px;
		color: #7B7C81;
		padding: 20px 80px;
	}
	strong {
		font-size: 18px;
	}
}
.treatment-menu {
	position: relative;
	background-color: #F2F2F2;
	margin: 0 80px;
	h3 {
		color: #BFD2E4;
		padding-top: 70px;
		padding-bottom: 18px;
		font-size: 27px;
		letter-spacing: 2px;
	}
	p {
		padding: 0 50px 50px 50px;
	}
	span {
		font-size: 18px;
		font-weight: bold;
	}
}
.treatment-strip-left {
    position: absolute;
    bottom: -29px;
    left: -32px;
}
.treatment-strip-right {
    position: absolute;
    top: -27px;
    right: -30px;
}
.why-peels {
	display: flex;
	margin-top: 20px;
	flex-wrap: wrap;
}
.why-peels-text {
	z-index: 2000;
	margin: 0 0 -80px 360px;
	p {
		padding: 30px 0px;
	}
}
.why-peels-image img {
	width: 530px;
	position: absolute;
    left: 0;
    margin-top: 10px;
}
@media only screen and (max-width:1199px) {
  	.why-peels-text {
		z-index: 0;
		margin: 0;
	}
}
@media only screen and (max-width:1166px) {
  	.treatment-sub-text {
		margin: 24px 60px 70px 60px;
	}
	.why-peels-text {
		margin: 0 60px;
	}
}
@media only screen and (max-width:965px) {
	.treatment-sub-text {
		margin: 24px 10px 70px 10px;
	}
	.why-peels-text {
		margin: 0 60;
	}
}
@media only screen and (max-width:850px) {
	.treatment-menu {
		margin: 0 20px;
	}
	.treatment-sub-text p {
		padding: 30px 40px;
	}
	.why-peels-text {
		margin: 0 0;
	}
}



