.treatment-sub-text {
	margin: 24px 150px 70px 150px;
	h3 {
		padding-top: 10px;
		padding-bottom: 5px;
		color: #7B7C81;
		letter-spacing: 2px;
	}
	p {
		font-size: 16px;
		letter-spacing: 1px;
		color: #7B7C81;
		padding: 20px 80px;
	}
	strong {
		font-size: 18px;
	}
}
.treatment-menu {
	position: relative;
	background-color: #F2F2F2;
	margin: 0 80px;
	h3 {
		color: #BFD2E4;
		padding-top: 70px;
		padding-bottom: 40px;
		font-size: 27px;
		letter-spacing: 2px;
	}
	p {
		padding: 0 50px 50px 50px;
	}
	span {
		font-size: 18px;
		font-weight: bold;
	}
}
.treatment-strip-left {
    position: absolute;
    bottom: -29px;
    left: -32px;
}
.treatment-strip-right {
    position: absolute;
    top: -27px;
    right: -30px;
}
.why-peels {
	display: flex;
	margin-top: 60px;
}
.why-peels-text {
	z-index: 2000;
	margin-left: 344px;
	p {
		padding: 30px 0px;
	}
}
.why-peels-image img {
	width: 500px;
	position: absolute;
    left: 0;
    margin-top: 10px;
}


