<div class="instagram-section">
  <div class="instagram-wrapper">
    <% @image_urls.each do |url| %>
      <%= link_to "https://www.instagram.com/thepeelboutique/", target: '_blank' do %>
        <div class="insta-img">
          <img src=<%= "#{url}media/"%>>
          <div class="insta">
            <p>@thepeelboutique</p>
          </div>
          <div class="insta-box"></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

