<h1 style="margin-top: 100px;">Booking Confirmation</h1>
<ul>
  <li>Status: <%= @order.state %></li>
  <li>Item: <%= @order.sku %></li>
  <li>Amount: <%= humanized_money_with_symbol(@order.amount) %></li>
<ul>
