<div class="homepage-banner" style="background-image: url('http://res.cloudinary.com/dcszu7vjv/image/upload/v1490629081/Screen_Shot_2017-03-27_at_16.37.19_iojxgm.png');">
</div>
<div class="page-content">
	<div class="about-sub-text text-center">
		<h3>ABOUT US</h3>
		<p>Dr Rabia Malik is a sought after Aesthetic Medical Doctor who specialises in Non-invasive, Non-surgical facial rejuvenation and problem skin solutions. Her holistic approach to skincare, focusing on custom made chirally correct compositions, makes her unique. 
		<br></br>
		The foundation for Dr Malik’s work is facial skin peels, which are still one of the best options for a healthier, vibrant complexion. However, unlike so many chemical peels on the market, Dr Malik works with less invasive peels that don’t strip the skin or leave it inflamed and irritated. Instead she strives to provide her patients with peels that offer minimum downtime and maximum results while remaining chirally correct. </p>
		<div class="about-rabia-image">
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1490629268/Screen_Shot_2017-03-27_at_16.40.45_ie3oxd.png") %>
		</div>
		<p>Chirality refers to products that are chemically correct for the skin, and only contain the molecule that is right for the skin’s receptors. Dr Malik works with various formulations custom made for her in the US to create combination skin peels that are chemically built for fluency with the skin’s molecule receptors. If skin care products are not chemically correct to fit into the skin’s receptors then the product simply won’t work or they can increase aging and disease. Chemically correct products penetrate the skin and skin cells so that the ingredients can arrive to cause positive change.  
		<br></br>
		Dr Malik began her Aesthetic Medical Practice 5 years ago and has been practicing at Grace Medical for over 3 years. During this time, Dr Malik became concerned that her patients needed a high quality, chirally correct maintenance treatment to tie them over between more intensive peels. However, there was no such treatment on the market and so the idea of the Peel Boutique was born.</p>
		<div class="about-small-images">
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1490629381/Screen_Shot_2017-03-27_at_16.42.22_wiuo2f.png") %>
			<%= image_tag("http://res.cloudinary.com/dcszu7vjv/image/upload/v1490629387/Screen_Shot_2017-03-27_at_16.42.29_reelfi.png") %>
		</div>
		<p>The idea of chemical peels suggests intrusive use of harsh ingredients’ like glycolic acid, yet Dr Malik’s peels are lactic acid based and therefore kinder on the skin while still achieving the best results. While creating this safe peel, Dr Malik was also aware that this needed to be an express treatment to fit easily into busy lifestyles – minimum downtime and maximum results.</p>
	</div>
	 <%= render 'shared/footer' %>
</div>