<%= render 'shared/navbar' %>
<div class="main-container container text-center">
	<div class="booking-header text-center">
		<h3>BOOK A TREATMENT</h3>
	</div>
	<div class="date-pick container text-center">
		<script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>

		<healcode-widget data-type="appointments" data-widget-partner="object" data-widget-id="6122928c14d" data-widget-version="0.1"></healcode-widget>
	</div>
</div>
 <%= render 'shared/footer' %>