<div class="homepage-banner" style="background-image: url('http://res.cloudinary.com/dc8wyadoa/image/upload/v1490357798/Screen_Shot_2017-03-24_at_12.15.59_fvkgxg.png');">
	<div class="banner-content">
    	<%= image_tag "TPB-logo-big.png", class: "main-logo" %>
  	</div>	
</div>
<div class="page-content">
	<div class=" landing-sub-text text-center">
		<h3>NO DOWNTIME  &nbsp; –  &nbsp; PROFESSIONAL RESULTS &nbsp; –  &nbsp; NO IRRITATION</h3>
		<i class="fa fa-arrow-down"></i>
	</div>
	<div class="intro-text text-center container">
		<p><strong>The Peel Boutique</strong> offers an express treatment of high-quality professional strength acid skin peels that are chirally correct and non-inflammatory or skin thinning.
		</p>
	</div>
	<div class="landing-treatments">
		<div class="landing-treatments-box">
			<h3 class="text-center">TREATMENTS</h3>
			<p>Choose from 3 bespoke express peels on The Peel Boutique menu to cater for all skin types and colours. 
			<br></br>
			– The Brightening Peel<br>
			– The Hydrating Peel<br>
			– The Blemish Peel<br>
			<br>
			Read more...</p>
		</div>
		<div class="landing-treatments-image">
			<%= image_tag("http://res.cloudinary.com/dc8wyadoa/image/upload/v1490383203/Screen_Shot_2017-03-24_at_19.19.33_buqojq.png") %>
		</div>
	</div>
	<div class="intro-text text-center container">
		<p><strong>The Peel Boutique</strong> offers an express treatment of high-quality professional strength acid skin peels that are chirally correct and non-inflammatory or skin thinning.
		</p>
	</div>
	<div class="intro-text text-center container">
		<p><strong>The Peel Boutique</strong> offers an express treatment of high-quality professional strength acid skin peels that are chirally correct and non-inflammatory or skin thinning.
		</p>
	</div>
</div>