<div class="homepage-banner" style="background-image: url('http://res.cloudinary.com/dcszu7vjv/image/upload/v1490629081/Screen_Shot_2017-03-27_at_16.37.19_iojxgm.png');">
</div>
<div class="page-content">
	<div class="treatment-sub-text text-center">
		<h3>TREATMENTS</h3>
		<p>At the Peel Boutique, Dr Malik has ensured that patients will still get the same customised treatment as though they were one of her own private clients.
		<br></br>
		She has therefore created three bespoke express peels on The Peel Boutique menu to cater to all skin types and colours.</p>
		<div class="treatment-menu">
			<h3>TREATMENT MENU</h3>
			<p><strong>The Brightening Peel</strong><br></br>
			Created for normal skin types to maintain a youthful and even
			complexion. Lighter, chirally correct peels work exceptionally well to stimulate new cells to encourage healthy exfoliation and re-modeling.
			<br></br>
			<strong>The Hydrating Peel</strong>
			<br></br>
			Ideal for a mature skin type where the client wants to smooth wrinkles and hydrate thirsty skin. This is an easy and convenient treatment for patients worried about the appearance of fine lines and wrinkles.
			<br></br>
			<strong>The Blemish Peel</strong>
			<br></br>
			Keep on top of your acne issues and skin discoloration over several months with regular peels that enhance healing. Featuring a
			customised exfoliant and peel to dissolve and clear blackheads,
			pigment, dead skin, decrease pore size, exfoliate, calm sensitivity and redness/vein issues.<br></br></p>
		</div>
		<div class="text-center">
		<%= link_to "BOOK A TREATMENT", root_path, class: "treatment-button" %>
		</div>
		<h3>WHY PEELS?<br>THE SCIENCE BEHIND SKIN PEELS</h3>
			<p>The importance of peels is that they need to be scientifically correct, anti-aging, non-toxic, rejuvenating, and professional peels. The Peel Boutique offers professional strength acid peels that are chirally correct and non-inflammatory or skin thinning.
			As we age, all of our tissues thin and inflammation is one of the major factors for causing aging and disease.
			<br></br>
			When it comes to choosing the right peel, you want to be choosing one that does not contribute to inflammation or challenge your organ function.
			<br></br>
			Rather incredibly, your body’s cell structure will have an anti-aging, healthy response to chirally correct ingredients, allowing them to penetrate into the epidermis, dermis and all cells. This results in visibly firmer, lifted, more youthful looking skin that will help shield against visible aging and damage.
			<br></br>
			By choosing a chirally correct acid peel at The Peel Boutique, you are nourishing and supporting the skin’s cellular structures, stimulating cell renewal and preserving, sustaining and revitalizing skin health.</p>
		</div>
	 <%= render 'shared/footer' %>
</div>
