// Your footer style
.footer {
	background-color: #7B7C81;
	z-index: 10000 !important;
	padding-bottom: 50px;
	margin-top: 7px;
}
.footer-main {
	padding: 70px 0 0px 0;
	p {
		color: white;
		font-weight: lighter;
		text-decoration: none;
		margin-top: 30px;
	}
	a {
		text-decoration: none;
		color: white;
	}
}
.footer-small {
	p {
		display: none; //REMOVE when go back to site
		color: white;
		font-weight: lighter;
		text-decoration: none;
		font-size: 11px;
		margin: 0;
		padding-top: 10px;
	}
	a {
		text-decoration: none;
		color: white;
	}
}
.footer-logo {
	width: 340px;
}
.sign-up {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.hc-actions {
	display: flex;
	justify-content: center;
}
.hc-footer {
	display: none !important;
}
.box {
	background-color: #7B7C81;
    width: 40vw;
    height: 25px;
    z-index: 2000;
    position: absolute;
    bottom: 74px;
}

.hc_prospect {
  div:first-child {
    display: flex;
    justify-content: center;
  }
  #prospects_email {
    width: 200px;
    height: 30px;
    margin-bottom: 5px;
  }
  #hc-prospect-6121360c14d {
    height: 25px;
    margin-top: 5px;
  }
}
