.homepage-banner {
  height: calc(100vh - 165px);
  width: 100%;
  background-size: cover !important;
  background-position: center;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 0;
  max-width: 100vw;
}
.banner-content {
  position: absolute;
}