.booking-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    background-color: #BFD2E4;
    position: absolute;
    right: 70px;
}
.booking-button:hover {
    background-color: #FDA993;
    text-decoration: none;
    color: white;
    a {
    	text-decoration: none;
    }
}
.pink-button {
	display: inline-block;
    margin-bottom: 0;
    font-weight: lighter;
    letter-spacing: 0.5px;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 16px 32px;
    margin: 40px 0;
    font-size: 18px;
    line-height: 1.4;
    border-radius: 2px;
    text-decoration: none;
    color: #7B7C81;
    background-color: transparent;
    border: 1px solid #7B7C81;
}
.pink-button:hover {
    background-color: #FDA993;
    border: 1px solid #FDA993;
    text-decoration: none;
    color: white;
    a {
    	text-decoration: none;
    }
}